@import "mixins";
$numbers_bg: lightgrey;
body {
  background: #eff0f1;
  margin: 0 !important;
  text-align: center;

  // @include bp2 {
  //   background: pink;
  // }
}
#content {
  h1 {
    color: darkturquoise;
  }
  p {
    padding-bottom: 1em;
    margin-top: -20px;
  }
}

#pageNums {
  display: inline-flex;
  padding: 2em 5em;
  a {
    text-decoration: none;
    background-color: #fff;
    color: black;
    padding: 1em 2em;

    &:hover {
      opacity: 0.5;
    }
    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    @include bp3 {
      padding: 0.5em 1.7em;
    }
    @include bp4 {
      padding: 8px 16px;
    }
  }
  .btn_num {
    &:focus {
      border: 1px solid #ddd;
      background-color: $numbers_bg;
    }
  }
  .active {
    border: 1px solid #ddd;
    background-color: $numbers_bg;
  }
  @include bp4 {
    padding: 1em;
  }
}
